# Ignorar archivos y configuraciones de Docker que no quieras incluir
.env

# ignorar carpetas
log/odoo-server.log

# Ignorar el archivo de configuración de Odoo
config/odoo.conf

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo